*{
	padding: 0;
margin: 0;
border: 0;}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display:block;}
html, body{
	height:100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust:100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;
border: 0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
body{padding: 30px;
	background-color: 
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
.block{border: 5px solid rgba(72, 141, 153, 1);
	position: relative;
max-width: 1300px;
background-color:  rgba(255,255,250,1);
margin: 0px auto;
height: 1100px;}
.block div{line-height: 30px;
font-size: 15px;
font-weight: 700;
text-align: left;
}
.block_1{background-color: rgba(14, 97,128,1);
	margin-left: 200px;
}
.block_2{background-color:rgba(174,207,169,1);
	padding-top: 30px;
	padding-bottom: 30px;
	height: 100px;
	margin-left: 200px;
	padding-left: 20px;
}
.block_3{background-color:rgba(174,207,169,1);
margin-left: 200px;
height: 220px;
padding-left: 20px;
text-decoration: underline;
}
.size{width: 150px;
border-radius: 10%;
border: 3px solid rgba(174,207,169,1);
margin: 10px;}
p{color: #ecb9;

padding-top: 10px;
padding-left: 20px;}
.sp { padding-left: 50px;
 }
.block4 {background-color: rgba(174,207,169,1);
margin-left: 200px;
height: 220px;
padding-left: 20px;
text-decoration: underline;
padding-top: 30px;
}
.block_5 {background-color: rgba(195,224,191,1);
margin-left: 200px;
text-decoration: underline;
height: 180px;
padding-left: 20px;
padding-top: 20px;}
.photo{width: 200px;
position: absolute;
top: 0;
border-radius:;
padding: ;
border-right:3px; }
.video{position: absolute;
top: 265px;}